<div class="full-width-row-two">
  
  <div class="large-6 medium-6 small-10 small-centered columns entries">
    <h1>New Bird Entry</h1>
    

    <div>
      <%= form_for :clip, url: clips_path do |x| %>

      <%= render 'form' %>

      <h4 class="button"><%= link_to "Sign Up", sign_up_path %></h4>
      <h4 class="button"><%= link_to "Forgot Your Password?", password_path %></h4>
    <% end %>
  </div>
  </div>
</div>