<div class="full-width-row-two">
  
  <div class="large-4 medium-6 small-10 small-centered columns entries">
    <div class = "entries">
        <br></br>
        <br></br>
        <h2><%= link_to "Mockingbird", mockingbird_path %></h2>
        <br></br>
        <h2><%= link_to "Tufted Titmouse",tuftedtitmouse_path %></h2>
        <br></br>
        <h2><%= link_to "Blue Jay", bluejay_path %></h2>
        </br>
        </br>
    </div>
  </div>
</div>
