<h1>Mockingbird</h1>

<h3>Mockingbirds are a group of New World passerine birds from the Mimidae family. </h3>

<iframe width="420" height="315" src="//www.youtube.com/embed/CMpe34Aign4" frameborder="0" allowfullscreen></iframe>

<p>They are best known for the habit of some species mimicking the songs of other birds and the sounds of insects and amphibians, often loudly and in rapid succession. There are about 17 species in three genera. These do not appear to form a monophyletic lineage: Mimus and Nesomimus are quite closely related; their closest living relatives appear to be some thrashers, such as the Sage Thrasher. Melanotis is more distinct; it seems to represent a very ancient basal lineage of Mimidae.</p>