<div class="full-width-row-two">
  
  <div class="large-4 medium-6 small-10 small-centered columns">
    <br></br>
    <br></br>
    <%= link_to "Mockingbird", mockingbird_path %>
    <br></br>
    <%= link_to "Tufted Titmouse",tuftedtitmouse_path %>
    <br></br>
    <%= link_to "Blue Jay", bluejay_path %>
  </div>
</div>
