<h1>Tufted Titmouse</h1>

<h3>The Tufted Titmouse (Baeolophus bicolor) is a small songbird from North America, a species in the tit and chickadee family (Paridae). </h3>

<iframe width="420" height="315" src="//www.youtube.com/embed/2appqvfCTo4" frameborder="0" allowfullscreen></iframe>

<p>TThe Black-crested Titmouse, found from central and southern Texas southwards, was included as a subspecies but is now considered a separate species B. atricristatus.</p>

<p>These birds have grey upperparts and white underparts with a white face, a grey crest, a dark forehead and a short stout bill; they have rust-coloured flanks. The song is usually described as a whistled peter-peter-peter. They make a variety of different sounds, most having a similar tone quality.</p>

<p>The habitat is deciduous and mixed woods as well as gardens, parks and shrubland in the eastern United States; they barely range into southeastern Canada in the Great Lakes region. They are all-year residents in the area effectively circumscribed by the Great Plains, the Great Lakes, the Gulf of Mexico and the Atlantic Ocean. The range is expanding northwards, possibly due to increased availability of winter food at bird feeders. The birds are nowadays resident all year even in rural Ohio where there are few bird feeders, while it was noted around 1905 that many birds from these areas migrated south in winter.</p>