<div class="full-width-row-two">
  
  <div class="large-6 medium-6 small-10 small-centered columns">
    <h1>Welcome to Your Community Bird Diary</h1>

    <p>A place to document your bird watching finds and track your neighbor's sightings.</p>

    <%= link_to '<h3 class = "button">New Post</h3>'.html_safe, controller: "clips" %>
    
    <br></br>

   

    <br></br>
    <%= link_to '<h3 class = "button">Featured Birds</h3>'.html_safe, featured_birds_path %>
  </div>
</div>

