<div class="full-width-row-two">
  
  <div class="large-4 medium-6 small-10 small-centered columns">
    <h1>Welcome to Your Community Bird Diary</h1>

    <p>A place to document your bird watching finds and track your neighbor's sightingss.</p>

    <h3><%= link_to "Bird Entries", controller: "clips" %></h3>
    <br></br>

   

    <br></br>
    <h3><%= link_to "Featured Birds", featured_birds_path %></h3>
  </div>
</div>

