<div class="full-width-row-two">
  
  <div class="large-4 medium-6 small-10 small-centered columns">
    <h1>Welcome to Your Bird Diary</h1>

    <p>A place to document and track your bird watching finds.</p>

    <h3><%= link_to "Bird Entries", controller: "clips" %></h3>
    <br>

    <br>
    <h3><%= link_to "Documentaries", controller: "movies" %></h3>
    <br>

    <br></br>
    <h3><%= link_to "Featured Birds", featured_birds_path %></h3>
  </div>
</div>

