<h1>Welcome to Your Bird Diary</h1>

<p>A place to document and track your bird watching finds.</p>

<%= link_to "Bird Entries", controller: "clips" %>
<br>

<br>
<%= link_to "Documentaries", controller: "movies" %>
<br>

<br></br>
<%= link_to "Featured Birds", clips_all_path %>

