/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

 .full-width-row-two {
   width: 100%;
   background: url( asset-path('assets/blurred_background3.jpeg', image) ) no-repeat;
   min-height: 680px; // to make it full-screen top to bottom on most screens
   background-size: cover; //this resizes the background for any screen size
   padding: 6em 0em; //give it some breathing room from the top
   // color: black;
 }

 a:hover, h3 {
   color: black;
   font-family: Ariel;
   background-color: black;
   text-align: center;
 }

 p, h1, h2 {
  text-align: center;
  font-family: Ariel;
 }