.full-width-row {
  width: 100%;
  background: url( asset-path('assets/blurred_background.jpeg', image) ) no-repeat;
  min-height: 680px; // to make it full-screen top to bottom on most screens
  background-size: cover; //this resizes the background for any screen size
  padding: 6em 0em; //give it some breathing room from the top
 h2 {
   color: black;
   font-family: Ariel;
 }
}


.email {
  font-family: Ariel;
}

.password {
  font-family: Ariel;
}

#user_email {
  background-color: transparent;
  color: black;
  font-family: Ariel;
}

#user_password {
  background-color: transparent;
  color: black;
  font-family: Ariel;
}

#user_password_confirmation {
  background-color: transparent;
  color: black;
  font-family: Ariel;
}

#user_current_password {
  background-color: transparent;
  color: black;
  font-family: Ariel;
}

.button {
  color: grey;
  background-color: black;
  font-family: Ariel;
  font-size: 20px;
}