h1 {
  font-family: 'Galindo', cursive;
  text-shadow: 2px 2px #8080B2;
}
h2 {
  font-family: 'Galindo', cursive;
  color: black;
  text-shadow: 2px 2px #8080B2;
}

h3 {
  color: black;
  font-family: 'Galindo', cursive;
  font-size: 30px;
}

h4 {
  color: black;
  font-family: 'Galindo', cursive;
}

.entries {
  background-color: #8080B2;
  border:2px solid;
  border-radius:25px; 
}