<div class= "footer">
  <div class = "large-4 medium-6 small-12 columns">Lorem Ipsum is simply dummy text of the printing and</div>
  <div class = "large-4 medium-6 small-12 columns">and scrambled it to make a type specimen book </div>
  <div class = "large-4 medium-6 small-12 columns">passages, and more recently with desktop publishing</div>
</div>